body
{
	background: #293021 url('background/green-marble.png') no-repeat center center fixed;
	background-size: cover;
	font-smooth: never;
	-webkit-font-smoothing : none;
	font-smooth: never;
	font: 13px Tahoma;
}

#container { width: 100%; }

#console
{
	border-style: outset;
	border-width: 1px;
	border-color: #889180 #282E22 #282E22 #889180;
	background-color: #4C5844;
	color: #FFFFFF;
	padding: 5px;
	width: 400px;
	height: 500px;
	box-shadow: 5px 5px 0px rgba(0,0,0,0.3);
}

#insetlight
{
	width: 100%;
	height: calc(100% - 53px);
	color: #dedfd6;
	border-style: inset;
	border-color: #282E22 #889180 #889180 #282E22;
	border-width: 1px;
	background-color: #4C5844;	
	margin-bottom: 5px;
	display: inline-block;
	overflow-y: scroll;
	overflow-x: hidden;
}

#consolelog {
	margin-top: 0px;
	padding: 0px;
	margin-left: 2px;
	margin-right: -2px;
	font-family: monospace;
	white-space: pre-wrap
}

/*
#insetdark
{
	width: 100%;
	height: 90%;
	border-style: inset;
	border-color: #282E22 #889180 #889180 #282E22;
	border-width: 1px;
	background-color: #3E4637;	
	overflow-y: scroll;
}
*/
#enter {
    background: #4C5844;
    color: #FFF;
	border-style: outset;
	border-width: 1px;
	border-color: #889180 #282E22 #282E22 #889180;
	display: inline-block;
	float: right;
	font: 13px Tahoma;
}

button:active {
	outline: none;
        box-shadow: 0 0 0 #000000;
        border-style: inset;
	color: #c4b550;
        border-color: #282E22 #889180 #889180 #282E22;
        border-width: 1px;
}

button:focus {
	outline: none;
}

#consoleinput
{
	border-style: inset;
	border-color: #282E22 #889180 #889180 #282E22;
	border-width: 1px;
	background: #4C5844;
	color: #a0aa95;
	width: calc(100% - 63px);
	padding-left: 2px;
}

input:focus {
	outline: none;
}

.title {
	margin-bottom: 6px;
	margin-left: 5px;
	float: left;
	display: inline-block;
}

.icon {
	float: left;
	display: inline-block;
}

/* Scrollbar style for webkit
–––––––––––––––––––––––––––––––––––––––––––––––––– */
::-webkit-scrollbar {
	background-color: #5a6a50;
	width: 20px;
}

::-webkit-scrollbar-button {
	width: 20px;
	height: 20px;
	background-color: #4c5844;
        border-style: outset;
        border-width: 1px;
        border-color: #889180 #282E22 #282E22 #889180;

}

::-webkit-scrollbar-button:vertical:increment {
	background-image: url('icons/scroll-down.png');
	background-position: 3px 2px;
}

::-webkit-scrollbar-button:vertical:decrement {
	background-image: url('icons/scroll-up.png');
	background-position: 1px 2px;
}

::-webkit-scrollbar-thumb {
        width: 20px;
        background-color: #4c5844;	
        border-style: outset;
        border-width: 1px;
        border-color: #889180 #282E22 #282E22 #889180;

}
 .win-controls {
	display: inline-block;
	float: right;
}

.hilight { color: #c6b652; }

::selection {
    color: #fff;
    background-color: #c4b550;
}
